# If there are tools that a developer needs to work on your project.
# Unit testing tools, mocking frameworks, debuggers, proxies, ...
# These will be used for tox and other testing environments.
-r requirements.txt
coverage
flake8
pytest
mock
tox
pip==1.4.1
setuptools>=0.9
wheel>=0.21
# implicit requirements for flake8
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
# implicit requirements for pytest
py==1.4.25
